html, body {
    height: 100%;
}


.navbar{
    margin-bottom: 0;
}

.wrapper {
    height: calc(100% - 52px);
}

.dashboard-wrapper {
    display: flex;
    height: 100%;
}

.dashboard-sidebar {
    width: 300px;
    background-color: #202124;
    color: white;
}

.dashboard-content {
    width: calc(100% - 300px);
    padding: 10px;
}

#navbarTogglerDemo01 .dropdown-menu {
    left: auto;
    right: 0;
    padding: 8px;
}